extends layout

block content
  script(type='text/javascript').
    'use strict';
    window.site = JSON.parse('!{site}');
    window.params = JSON.parse('!{params}');
    var iframeLocation,
        b = document.getElementsByTagName('body')[0],
        l = [
          site.socket + '/socket.io/socket.io.js',
          'https://code.jquery.com/jquery-2.2.4.min.js',
          site.files + '/websocket/compatibility.min.js',
          site.files + '/websocket/pdf.min.js',
          site.files + '/websocket/pdf-sync.min.js',
        ],
        i = 0,
        createElm = function (u){
        var s = document.createElement("script");
        s.type = 'text/javascript';
        s.src = u;
        b.appendChild(s);
        i ++;
        s.onload = function(){
          if ( l[i] !== undefined ) createElm(l[i]);
        }
      };
    createElm(l[i]);


  section#document_share
    ul#document_share_tools<!-- /* サイドバー */ -->
      li#downloadBtn
        a#downloadFilePath
          span
            img(src="#{img}icon_download.png", width="40", height="40", alt="")
          p ダウンロード
      li(onclick="window.close(); return false;")
        span
          img(src="#{img}icon_disconnect.png", width="40", height="40", alt="")
        p 閉じる

    ul#document_ctrl_tools
      li-left
        li.showDescriptionBottom(data-description="前のページへ", onclick="slideJsApi.prevPage(); return false;")
          span.btn
            img(src="#{img}icon_back.png", width="30", height="30")
        li.showDescriptionBottom(data-description="次のページへ", onclick="slideJsApi.nextPage(); return false;")
          span.btn
            img(src="#{img}icon_next.png", width="30", height="30")
      li-center
        li#pageNumTag
      li-right
        li#scaleChoose
          label(for="scaleType") 拡大率
          select(name="scale_type", id="scaleType", onchange="slideJsApi.cngScale(); return false;")
            option(value="") -
            option(value="0.5" ) 50%
            option(value="0.75") 75%
            option(value="1", selected) 100%
            option(value="1.5" ) 150%
            option(value="2"   ) 200%
            option(value="2.5" ) 250%
            option(value="3"   ) 300%
            option(value="4"   ) 400%
        li.showDescriptionBottom(data-description="拡大する", onclick="slideJsApi.zoomIn(0.25); return false;")
          span.btn
            img(src="#{img}icon_plus.png", width="30", height="30")
        li.showDescriptionBottom(data-description="縮小する", onclick="slideJsApi.zoomOut(0.25); return false;")
          span.btn
            img(src="#{img}icon_minus.png", width="30", height="30")

  slideframe
    div#document_canvas
  div#desc-balloon